# Godot 4+ specific
.godot
.import
export.cfg
export_credentials.cfg
*.tmp
*.translation

# Mono/C# specific
.mono/
data_*/
mono_crash.*.json

# Python/Virtual Environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build & Custom Folders
dist
ignore

# System files
.DS_Store
Thumbs.db
