# Godot 4+ specific
.godot
.import
export.cfg
export_credentials.cfg
*.tmp
*.translation

# Mono/C# specific
.mono/
data_*/
mono_crash.*.json

# Build & Custom Folders
dist
ignore

# System files
.DS_Store
Thumbs.db
